<% 
  function dateFormt(val) {
    return new Date(Number(val)).toLocaleDateString()
  }
%>
<%- include('header') -%>
<div class="article-detail">
  <h1 class="article-title"><%= doctor.title %></h1>
  <p class="article-info">
    <span class="article-time">更新时间: <%= dateFormt(doctor.updated_time) %></span>
    <span class="article-source">来源: 广州现代医疗美容医院</span>
  </p>
  <div class="article-content">
      <%- doctor.content %>
  </div>
</div>
<%- include('footer') -%>