<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>广州现代医疗美容医院</title>
  <script src="//g.alicdn.com/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>
  <link href="//lib.baomitu.com/Swiper/3.4.2/css/swiper.min.css" rel="stylesheet">
  <link href="//lib.baomitu.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/css.min.css">
</head>

<body>
  <header>
    <div class="top-logo">
      <img src="/public/images/top_02.jpg" alt="">
    </div>
    <div class="top-nav">
      <ul>
        <a href="javascript:void(0);" onclick='openZoosUrl("chatwin")' target="_blank">
          <li>当月特惠</li>
        </a>
        <a href="javascript:void(0);" onclick='openZoosUrl("chatwin")' target="_blank">
          <li>真人案例</li>
        </a>
        <a href="javascript:void(0);" onclick='openZoosUrl("chatwin")' target="_blank">
          <li>医师团队</li>
        </a>
        <a href="javascript:void(0);" onclick='openZoosUrl("chatwin")' target="_blank">
          <li>新闻中心</li>
        </a>
        <a href="javascript:void(0);" onclick='openZoosUrl("chatwin")' target="_blank">
          <li>关于现代</li>
        </a>
        <div class="index_menu">
          <img src="/public/images/menu.png" alt="">
        </div>
      </ul>
    </div>
    <div class="menu-wrapper">
      <div class="menu-head">
        <h2>项目中心</h2>
        <div class="close-btn">
          <img src="/public/images/close_btn.png" alt="">
        </div>
      </div>
      <div class="menu-box-wrapper">
        <div class="menu-left">
          <ul>
              <% for(const i in projectContent){ -%>
                <li <% if(i == 0 ){ -%> class="on"<%} -%>>
                  <%= projectContent[i].class_name %>
                </li>
              <% } -%>
          </ul>
        </div>
        <div class="menu-content-wrapper">
            <% projectContent.forEach(function(content, index) { -%>
              <div class="menu-content">
                  <ul>
                      <% content.list.forEach(function(item) { -%>
                        <li>
                            <a href="/front/project/<%= item.id %>" >
                              <i>
                                <img src="//image.0755mingyi.com/<%= item.head_img %>" alt="">
                              </i>
                              <p><%= item.title %></p>
                            </a>
                        </li>
                      <% }) -%>
                  </ul>
              </div>
            <% }) -%>
        </div>
      </div>
    </div>
  </header>
  <div class="banner-containner">
    <div class="swiper-wrapper">
      <% settings.banner.forEach(function(item) { -%>
      <div class="swiper-slide">
        <a href="<%= item.link %>" target="_blank">
          <img src="//image.0755mingyi.com/<%= item.pic %>" alt="">
        </a>
      </div>
      <% }) -%>
    </div>
  </div>