<%- include('header') -%>
<div class="main-body">
  <div class="index-xm">
    <ul>
        <% settings.icon.forEach(function(item) { -%>
          <li>
            <a href="<%= item.link %>">
              <img src="//image.0755mingyi.com/<%= item.pic %>" alt="">
            </a>
          </li>
        <% }) -%>
    </ul>
  </div>
  <div class="index-news">
    <div class="news-left">
      <img src="public/images/xm_39.png" alt="">
    </div>
    <div class="news-right">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <p>开眼角+隆鼻修复+面部自体脂肪移植，现在的我美美哒!</p>
          <p>打击非法医疗美容专项行动——现代在行动</p>
        </div>
        <div class="swiper-slide">
          <p>开眼角+隆鼻修复+面部自体脂肪移植，现在的我美美哒!</p>
          <p>打击非法医疗美容专项行动——现代在行动</p>
        </div>
        <div class="swiper-slide">
          <p>开眼角+隆鼻修复+面部自体脂肪移植，现在的我美美哒!</p>
          <p>打击非法医疗美容专项行动——现代在行动</p>
        </div>
      </div>
    </div>
  </div>
  <div class="index-sale">
    <div class="index-jx">
      <img src="public/images/jx.png" alt="">
    </div>
    <ul>
        <% settings.sale.forEach(function(item) { -%>
          <li>
              <img src="//image.0755mingyi.com/<%=item.pic %>" alt="">
              <div class="sale-content">
                <p class="sale-price">
                  <!-- <span class="price-strong">500</span>
                  <span class="price-word">分</span>
                  <span class="price-word">+</span> -->
                  <span class="price-strong"><%= item.price %></span>
                  <span class="price-word">元</span>
                </p>
                <p class="sale-name"><%= item.project %></p>
                <a href="javascript:void(0);" onclick='openZoosUrl("chatwin")' target="_blank">
                  <div class="sale-zx">立即抢购</div>
                </a>
              </div>
            </li>
        <% }) -%>
    </ul>
  </div>
  <div class="index-anli">
    <div class="anli-title">
      <img src="public/images/fx_114.jpg" alt="">
    </div>
    <div class="anli-wrapper">
      <div class="swiper-wrapper">
        <% settings.beauty_share.forEach(function(item) { -%>
          <div class="swiper-slide">
            <a href="<%= item.link %>" target="_blank">
              <img src="//image.0755mingyi.com/<%= item.pic %>" alt="">
            </a>
          </div>
        <% }) -%>
      </div>
    </div>
  </div>
  <div class="index-riji">
    <div class="riji-top-wrapper">
      <div class="riji-title">
        <span>
          <img src="public/images/riji_03.png" alt=""> </span>
        <span class="riji-text">精选日记</span>
      </div>
      <div class="riji-xm">
        <ul>
          <% classContent.forEach(function(item, index) { -%>
            <li><%= item.class_name %></li>
          <% }) -%>
        </ul>
      </div>
    </div>
    <div class="riji-content-wrapper">
      <% classContent.forEach(function(content, index) { -%>
      <div class="riji-content-box">
        <ul>
          <% content.list.forEach(function(item) { -%>
          <li class="riji-item">
            <div class="riji-content">
              <div class="riji-content-title">
                <span>
                  <img src="//image.0755mingyi.com/<%= item.head_img %>" alt=""> </span>
                <span>
                  <h2><%= item.name %></h2>
                  <p class="content-text"><%= item.bulid_plan %></p>
                </span>
              </div>
              <div class="riji-detail">
                <p><%= item.introduction %></p>
              </div>
              <div class="riji-pic">
                <img src="//image.0755mingyi.com/<%= item.result_img %>" alt="">
              </div>
            </div>
          </li>
          <% }) -%>
        </ul>
      </div>
      <% }) -%>
    </div>
    <a href="javascript:void(0);" onclick='openZoosUrl("chatwin")' target="_blank">
      <div class="anli-zx">进入现代案例中心>></div>
    </a>
  </div>
  <div class="index-zj">
    <a href="javascript:void(0);" onclick='openZoosUrl("chatwin")' target="_blank">
      <img src="images/zj_03.jpg" alt="">
    </a>
  </div>
  <div class="index-hj">
    <div class="hj-tit">
      <img src="public/images/index_2_03.jpg" alt="">
    </div>
    <div class="common-swiper">
      <div class="common-content">
        <ul class="swiper-pagination"></ul>
        <div class="content-wrapper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="public/images/mt_03.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="public/images/hj_03.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="public/images/ry_03.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="public/images/aq_03.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('footer') -%>