<%- include('header') -%>
<div class="project-wrapper">
    <h1 class="project-title">标题</h1>
    <div class="project-custom-title">
      <span class="iconfont icon-picture"></span>
      <span>对比案例:</span>
    </div>
    <div class="project-compare-photo project-content">
      <img src="//image.0755mingyi.com/<%= projectInfo.result_img %>" alt="">
    </div>
    <div class="project-custom-title">
      <span class="iconfont icon-menu"></span>
      <span>项目介绍:</span>
    </div>
    <div class="project-introduction project-content">
      <%- projectInfo.content %>
    </div>
    <div class="project-custom-title">
      <span class="iconfont icon-my"></span>
      <span>适用人群:</span>
    </div>
    <div class="project-people project-content">
      <%- projectInfo.fit_people %>
    </div>
    <div class="project-custom-title">
      <span class="iconfont icon-smile"></span>
      <span>技术优势:</span>
    </div>
    <div class="project-advantage project-content">
        <%- projectInfo.advantange %>
    </div>
    <div class="project-custom-title">
      <span class="iconfont icon-date"></span>
      <span>恢复时间:</span>
    </div>
    <div class="project-recover project-content">
        <%- projectInfo.recover_time %>
    </div>
    <div class="project-custom-title">
      <span class="iconfont icon-keep"></span>
      <span>推荐医师:</span>
    </div>
    <div class="project-doctor project-content">
        <% projectInfo.doctor.forEach(function(item, index) { -%>
          <img src="//image.0755mingyi.com/<%= item.list_url %>" />
        <% }) -%>
    </div>
 </div>
 <%- include('footer') -%>